{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rabialco's Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<footer>
    <div class="row mt-5">
        <div class="col w-25 pr-2 ml-3 align-middle">
            <h4 id="theme-text" class="text-right"><strong>Dark Mode</strong></h4>
        </div>
        <div class="col pl-2">
            <label class="switch">
                <input type="checkbox" id="myChecker">
                <span class="slider round" id="circle-slider">
                </span>
            </label>
        </div>
    </div>
</footer>
<body>
    <!-- <div class="container-all"> -->
        <div class="row-lg-4 text-center">
            <br>
            <div class="container">
                <h4>
                    Halo, nama gue Rabialco Argana! Gue Developer untuk Gladi Resik Compfest Talks.
                </h4>
                <!-- <h5 class="mt-3"> Silahkan cek dibawah untuk mengetahui tentang saya ↓</h5 class="mt-3"> -->
                <h5 class="mt-3"> Silahkan cek dibawah untuk menonton Gladi Resik Compfest Talks ↓</h5 class="mt-3">
                <br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/NVPEZH182GU" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <!-- <div class="row-lg-12 w-25 text-center mx-auto mt-3">
            <div id="accordion">
                <h3>Aktivitas Saat Ini</h3>
                <div>
                    <p>Belajar</p>
                    <p>Nugas</p>
                    <p>Belajar</p>
                    <p>Nugas</p>
                    <p>Belajar</p>
                    <p>Nugas</p>
                </div>
                <h3>Pengalaman Organisasi / Kepanitiaan</h3>
                <div>
                    <p>MPK SMA Labschool Kebayoran</p>
                    <p>OSIS SMA Labschool Kebayoran</p>
                    <p>Skyrun 2017</p>
                    <p>Skyavenue 2017</p>
                    <p>Compfest XI</p>
                    <p>BEM Fasilkom UI</p>
                </div>
                <h3>Prestasi</h3>
                <div>
                    <p>Runner-Up MX FEB UI Business Plan Competition</p>
                    <p>KUMON Completer</p>
                    <p>ABRSM Piano Exam with Distinctive Score</p>                    
                </div>
            </div>
        </div> -->
        <!-- <div class="row-lg-12 w-25 text-center mx-auto mt-3" style="margin-left:auto; margin-right: auto;">
            
        </div> -->
    <!-- </div> -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>